$sec1TextColor: #0d319c;
$sec1CircleColor: #cf1537;
$sec1RadioOnColor: #f78b1f;

@font-face {
  font-family: 'Lato';
  src: local('Lato Hairline'), local('Lato-Hairline'), url('./fonts/Lato/latohairline.woff2') format('woff2'), url('./fonts/Lato/latohairline.woff') format('woff'), url('./fonts/Lato/latohairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('./fonts/Lato/latohairlineitalic.woff2') format('woff2'), url('./fonts/Lato/latohairlineitalic.woff') format('woff'), url('./fonts/Lato/latohairlineitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Thin'), local('Lato-Thin'), url('./fonts/Lato/latothin.woff2') format('woff2'), url('./fonts/Lato/latothin.woff') format('woff'), url('./fonts/Lato/latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('./fonts/Lato/latothinitalic.woff2') format('woff2'), url('./fonts/Lato/latothinitalic.woff') format('woff'), url('./fonts/Lato/latothinitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('./fonts/Lato/latolight.woff2') format('woff2'), url('./fonts/Lato/latolight.woff') format('woff'), url('./fonts/Lato/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('./fonts/Lato/latolightitalic.woff2') format('woff2'), url('./fonts/Lato/latolightitalic.woff') format('woff'), url('./fonts/Lato/latolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/Lato/latoregular.woff2') format('woff2'), url('./fonts/Lato/latoregular.woff') format('woff'), url('./fonts/Lato/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'), url('./fonts/Lato/latoitalic.woff2') format('woff2'), url('./fonts/Lato/latoitalic.woff') format('woff'), url('./fonts/Lato/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'), url('./fonts/Lato/latomedium.woff2') format('woff2'), url('./fonts/Lato/latomedium.woff') format('woff'), url('./fonts/Lato/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('./fonts/Lato/latomediumitalic.woff2') format('woff2'), url('./fonts/Lato/latomediumitalic.woff') format('woff'), url('./fonts/Lato/latomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), url('./fonts/Lato/latosemibold.woff2') format('woff2'), url('./fonts/Lato/latosemibold.woff') format('woff'), url('./fonts/Lato/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('./fonts/Lato/latosemibolditalic.woff2') format('woff2'), url('./fonts/Lato/latosemibolditalic.woff') format('woff'), url('./fonts/Lato/latosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('./fonts/Lato/latobold.woff2') format('woff2'), url('./fonts/Lato/latobold.woff') format('woff'), url('./fonts/Lato/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('./fonts/Lato/latobolditalic.woff2') format('woff2'), url('./fonts/Lato/latobolditalic.woff') format('woff'), url('./fonts/Lato/latobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy'), local('Lato-Heavy'), url('./fonts/Lato/latoheavy.woff2') format('woff2'), url('./fonts/Lato/latoheavy.woff') format('woff'), url('./fonts/Lato/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('./fonts/Lato/latoheavyitalic.woff2') format('woff2'), url('./fonts/Lato/latoheavyitalic.woff') format('woff'), url('./fonts/Lato/latoheavyitalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('./fonts/Lato/latoblack.woff2') format('woff2'), url('./fonts/Lato/latoblack.woff') format('woff'), url('./fonts/Lato/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('./fonts/Lato/latoblackitalic.woff2') format('woff2'), url('./fonts/Lato/latoblackitalic.woff') format('woff'), url('./fonts/Lato/latoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-BoldItalic.eot');
	src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url('./fonts/GothamPro/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('./fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-BlackItalic.eot');
	src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('./fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('./fonts/GothamPro/GothamProNarrow-Bold.eot');
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('./fonts/GothamPro/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-LightItalic.eot');
	src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
		url('./fonts/GothamPro/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-LightItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('./fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Light.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('./fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Black.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('./fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-MediumItalic.eot');
	src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.radio{
  position: fixed;
  right: 2.6vw;
  top: calc(50vh - 61px);
  &__button{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: white;
    margin-bottom: 14px;
    cursor: pointer;
  }
  &_on{
    background: $sec1RadioOnColor;
  }
}

.section1{
  background: url(./img/bgSec1.png) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  overflow: hidden;
  color: $sec1TextColor;

  &__itemMain{
    font-size: 5vw;
    font-family: "Gotham Pro";
    display: block;
    width: 78vw;
    margin: 15vh 0 0 7%;
  }

  & .item{
    position: absolute;
    font-size: 2vw;
    font-family: "Lato";
  }

  &__item1{
    top: 36vh;
    left: 61vw;
  }

  &__item2{
    top: 51vh;
    left: 22vw;
  }

  &__item3{
    top: 63vh;
    left: 77vw;
  }

  &__item4{
    top: 66vh;
    left: 36vw;
  }
}