$sec1TextColor: #0d319c;
$sec1CircleColor: #cf1537;
$sec1ShineColor: #f78b20;
$sec3CircleBg: #404382;
$toggleBg: #435063;
// Подключение шрифтов
@font-face {
  font-family: 'Lato';
  src: local('Lato Hairline'), local('Lato-Hairline'), url('./fonts/Lato/latohairline.woff2') format('woff2'), url('./fonts/Lato/latohairline.woff') format('woff'), url('./fonts/Lato/latohairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url('./fonts/Lato/latohairlineitalic.woff2') format('woff2'), url('./fonts/Lato/latohairlineitalic.woff') format('woff'), url('./fonts/Lato/latohairlineitalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Thin'), local('Lato-Thin'), url('./fonts/Lato/latothin.woff2') format('woff2'), url('./fonts/Lato/latothin.woff') format('woff'), url('./fonts/Lato/latothin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Thin Italic'), local('Lato-ThinItalic'), url('./fonts/Lato/latothinitalic.woff2') format('woff2'), url('./fonts/Lato/latothinitalic.woff') format('woff'), url('./fonts/Lato/latothinitalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light'), local('Lato-Light'), url('./fonts/Lato/latolight.woff2') format('woff2'), url('./fonts/Lato/latolight.woff') format('woff'), url('./fonts/Lato/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url('./fonts/Lato/latolightitalic.woff2') format('woff2'), url('./fonts/Lato/latolightitalic.woff') format('woff'), url('./fonts/Lato/latolightitalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Regular'), local('Lato-Regular'), url('./fonts/Lato/latoregular.woff2') format('woff2'), url('./fonts/Lato/latoregular.woff') format('woff'), url('./fonts/Lato/latoregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Italic'), local('Lato-Italic'), url('./fonts/Lato/latoitalic.woff2') format('woff2'), url('./fonts/Lato/latoitalic.woff') format('woff'), url('./fonts/Lato/latoitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium'), local('Lato-Medium'), url('./fonts/Lato/latomedium.woff2') format('woff2'), url('./fonts/Lato/latomedium.woff') format('woff'), url('./fonts/Lato/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Medium Italic'), local('Lato-MediumItalic'), url('./fonts/Lato/latomediumitalic.woff2') format('woff2'), url('./fonts/Lato/latomediumitalic.woff') format('woff'), url('./fonts/Lato/latomediumitalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold'), local('Lato-Semibold'), url('./fonts/Lato/latosemibold.woff2') format('woff2'), url('./fonts/Lato/latosemibold.woff') format('woff'), url('./fonts/Lato/latosemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Semibold Italic'), local('Lato-SemiboldItalic'), url('./fonts/Lato/latosemibolditalic.woff2') format('woff2'), url('./fonts/Lato/latosemibolditalic.woff') format('woff'), url('./fonts/Lato/latosemibolditalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold'), local('Lato-Bold'), url('./fonts/Lato/latobold.woff2') format('woff2'), url('./fonts/Lato/latobold.woff') format('woff'), url('./fonts/Lato/latobold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url('./fonts/Lato/latobolditalic.woff2') format('woff2'), url('./fonts/Lato/latobolditalic.woff') format('woff'), url('./fonts/Lato/latobolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy'), local('Lato-Heavy'), url('./fonts/Lato/latoheavy.woff2') format('woff2'), url('./fonts/Lato/latoheavy.woff') format('woff'), url('./fonts/Lato/latoheavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'), url('./fonts/Lato/latoheavyitalic.woff2') format('woff2'), url('./fonts/Lato/latoheavyitalic.woff') format('woff'), url('./fonts/Lato/latoheavyitalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black'), local('Lato-Black'), url('./fonts/Lato/latoblack.woff2') format('woff2'), url('./fonts/Lato/latoblack.woff') format('woff'), url('./fonts/Lato/latoblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato Black Italic'), local('Lato-BlackItalic'), url('./fonts/Lato/latoblackitalic.woff2') format('woff2'), url('./fonts/Lato/latoblackitalic.woff') format('woff'), url('./fonts/Lato/latoblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-BoldItalic.eot');
	src: local('Gotham Pro Bold Italic'), local('GothamPro-BoldItalic'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Italic.eot');
	src: local('Gotham Pro Italic'), local('GothamPro-Italic'),
		url('./fonts/GothamPro/GothamPro-Italic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Italic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Medium.eot');
	src: local('Gotham Pro Medium'), local('GothamPro-Medium'),
		url('./fonts/GothamPro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Medium.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-BlackItalic.eot');
	src: local('Gotham Pro Black Italic'), local('GothamPro-BlackItalic'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Bold.eot');
	src: local('Gotham Pro Bold'), local('GothamPro-Bold'),
		url('./fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Bold.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('./fonts/GothamPro/GothamProNarrow-Bold.eot');
	src: local('Gotham Pro Narrow Bold'), local('GothamProNarrow-Bold'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.woff') format('woff'),
		url('./fonts/GothamPro/GothamProNarrow-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro Narrow';
	src: url('./fonts/GothamPro/GothamProNarrow-Medium.eot');
	src: local('Gotham Pro Narrow Medium'), local('GothamProNarrow-Medium'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.woff') format('woff'),
		url('./fonts/GothamPro/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-LightItalic.eot');
	src: local('Gotham Pro Light Italic'), local('GothamPro-LightItalic'),
		url('./fonts/GothamPro/GothamPro-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-LightItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Light.eot');
	src: local('Gotham Pro Light'), local('GothamPro-Light'),
		url('./fonts/GothamPro/GothamPro-Light.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Light.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-Black.eot');
	src: local('Gotham Pro Black'), local('GothamPro-Black'),
		url('./fonts/GothamPro/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-Black.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro.eot');
	src: local('Gotham Pro'), local('GothamPro'),
		url('./fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: url('./fonts/GothamPro/GothamPro-MediumItalic.eot');
	src: local('Gotham Pro Medium Italic'), local('GothamPro-MediumItalic'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.woff') format('woff'),
		url('./fonts/GothamPro/GothamPro-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}
// конец: Подключение шрифтов
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar { 
  display: none; 
}

.radio{
  position: fixed;
  right: 2.6vw;
  top: calc(50vh - 61px);
  z-index: 9999;
  &__button{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: white;
    margin-bottom: 14px;
    cursor: pointer;
  }
}

.container{
  width: 100vw;
  height: 100vh;
  position: relative;
  bottom: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

#toggle{
  background-image: linear-gradient(to bottom, transparent 0%, transparent 28%, $toggleBg 28%, $toggleBg 43%, transparent 43%, transparent 100%);
  background-size: cover;
  background-position: center;
  display: none;
  overflow: visible;
  position: fixed;
  top: 682px;
  left: 192px;
  z-index: 9999;
}
//Секция 1
.section1{
  background: url(./img/bgSec1.png) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: $sec1TextColor;

  &__itemMain{
    font-size: 5vw;
    font-family: "Gotham Pro";
    display: block;
    width: 78vw;
    margin: 15vh 0 0 7%;
  }

  & .item{
    position: absolute;
    font-size: 2vw;
    font-family: "Lato";
  }
  &__item1{
    top: 36vh;
    left: 61vw;
  }
  &__item2{
    top: 51vh;
    left: 22vw;
  }
  &__item3{
    top: 63vh;
    left: 77vw;
  }
  &__item4{
    top: 66vh;
    left: 36vw;
  }

  &__next{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 11vh;
    overflow: hidden;

    & span{
      font-family: "Gotham Pro";
      font-size: 1.5vw;
      display: block;
      text-align: center;
      margin-top: 1vw;
      color: white;
    }

    & .arrow{
      background: url(./img/arrow.png) no-repeat center;
      margin-top: 5px;
      height: 2.85vh;
      background-size: 4.3vw 2.85vh;
    }

    & .shine{
      height: 30vh;
      margin-top: 10px;
      width: 105vw;
      border-radius: 50%;
      background: $sec1ShineColor;
      box-shadow: 0 -25px 40px $sec1ShineColor;
    }
  }
}
//конец: Секция 1
//Секция 2
.section2{
  background: url(./img/bgSec2.png) no-repeat;
  background-size: 100vw 100vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__itemMain{
    font-size: 5vw;
    font-family: "Gotham Pro";
    display: block;
    width: 50vw;
    margin: 33vh 0 0 25vw;
    text-align: center;
    color: white;
  }

  &__next{
    position: absolute;
    bottom: -100vh;
    width: 100%;
    height: 11vh;
    overflow: hidden;

    & span{
      font-family: "Gotham Pro";
      font-size: 1.5vw;
      display: block;
      text-align: center;
      margin-top: 1vw;
      color: white;
    }

    & .arrow{
      background: url(./img/arrow.png) no-repeat center;
      margin-top: 5px;
      height: 2.85vh;
      background-size: 4.3vw 2.85vh;
    }

    & .shine{
      height: 30vh;
      margin-top: 10px;
      width: 105vw;
      border-radius: 50%;
      background: $sec1ShineColor;
      box-shadow: 0 -25px 40px $sec1ShineColor;
    }
  }
}
//конец: Секция 2
//Секция 3
.section3{
  //Слайд 1 в секции 3
  display: flex;
  overflow: hidden;
  & .slide1{
    background: url(./img/bgSec3_1.png) no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    position: relative;
    right: 100vw;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    & .title{
      display: block;
      font-family: "Gotham Pro";
      font-size: 3vw;
      color: white;
      margin-left: 7.3vw;
      margin-top: 15vh;
    }

    & .path0{
      &__hyperglycemia{
        text-align: center;
        position: relative;
        top: 39vh;
        left: 39.5vw;
        border: 2px solid #fff;
        width: 24.1vw;
        height: 11.7vh;

        & span{
          font: 500 2vw "Lato";
          position: relative;
          top: 3.5vh;
        }
      }
    }

    & .path1{
      display: flex;
      flex-direction: column;
      position: relative;
      left: 47.8vw;
      bottom: 6vh;
      &__emblem{
        margin-top: 1.9vh;
        font: bold 6vw "Lato";
        text-align: center;
        background: $sec3CircleBg;
      }
    }

    & .path2{
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 7vh;
      left: 23.5vw;
      &__emblem{
        margin-top: 2vh;
        background: $sec3CircleBg url(./img/sec3Muscle.png) no-repeat center;
        background-size: 6.5vw 5.7vh;
      }
    }

    & .path3{
      display: flex;
      flex-direction: column;
      position: relative;
      bottom: 29.5vh;
      left: 72vw;
      &__emblem{
        margin-top: 2.6vh;
        background: $sec3CircleBg url(./img/sec3Liver.png) no-repeat center;
        background-size: 6.3vw 5.5vh;
      }
    }
    & .emblem{
      width: 10.8vh;
      height: 10.8vh;
      border-radius: 50%;
    }
    & .number{
      font: 600 3.6vw "Lato";
      margin-left: 4.2vh;
    }
    & .text{
      font: 500 2.2vw "Lato";
    }
  }
  //конец: Слайд 1 в секции 3
  //Слайд 2 в секции 3
  & .slide2{
    background: url(./img/bgSec3_2.png) no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    position: relative;
    left: 0;
    bottom: 100vh;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    & .title{
      display: block;
      font-family: "Gotham Pro";
      font-size: 3vw;
      color: white;
      margin-left: 7.3vw;
      margin-top: 15vh;
    }
    & .path0{
      &__hyperglycemia{
        text-align: center;
        position: relative;
        top: 21vh;
        left: 32vw;
        border: 2px solid #fff;
        width: 37.9vw;
        height: 18.55vh;

        & span{
          font: 500 2.5vw "Lato";
          position: relative;
          top: 7vh;
        }
      }
    }

    & .path1{
      display: flex;
      flex-direction: column;
      position: relative;
      left: 47.4vw;
      bottom: 18.6vh;
      &__emblem{
        font: bold 6vw "Lato";
        text-align: center;
        line-height: 6vw;;
        background: $sec3CircleBg;
      }
    }

    & .path2{
      display: flex;
      flex-direction: row;
      position: relative;
      left: 16.9vw;
      bottom: 26.3vh;
      &__text{
        width: 15vw;
        text-align: right;
      }
      &__emblem{
        font: 600 3.6vw "Lato";
        text-align: center;
        line-height: 5.5vw;
        background: $sec3CircleBg;
      }
    }

    & .path3{
      display: flex;
      flex-direction: row;
      position: relative;
      left: 62.2vw;
      bottom: 34vh;
      &__text{
        width: 9vw;
        margin-left: 1.5vw;
      }
      &__emblem{
        font: 600 3.6vw "Lato";
        text-align: center;
        line-height: 5.5vw;
        background: $sec3CircleBg;
      }
    }

    & .path4{
      display: flex;
      flex-direction: row;
      position: relative;
      left: 72.5vw;
      bottom: 23.5vh;
      &__text{
        width: 9vw;
        margin-left: 1.4vw;
        margin-top: 0.5vh;
      }
      &__number{
        margin-top: 0.7vh;
        margin-left: 2vh !important;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Lipid.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
      }
    }

    & .path5{
      position: relative;
      left: 62.2vw;
      bottom: 20.3vh;
      &__text{
        margin-left: 0.5vw;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Muscle.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
      }
    }

    & .path6{
      position: relative;
      left: 47.3vw;
      bottom: 36.9vh;
      &__text{
        margin-left: 1vw;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Liver.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
      }
    }

    & .path7{
      position: relative;
      left: 31.9vw;
      bottom: 53.5vh;
      &__text{
        margin-left: -0.8vw;
        width: 10vw;
        text-align: center;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Brain.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
      }
    }

    & .path8{
      display: flex;
      flex-direction: row;
      position: relative;
      left: 15.9vw;
      bottom: 89.5vh;
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Kidney.png) no-repeat center;
        background-size: 5vw 6vh;
      }
    }

    & .emblem{
      margin-left: 1vw;
      width: 7.8vh;
      height: 7.8vh;
      border-radius: 50%;
    }
    & .number{
      font: 600 3.6vw "Lato";
      margin-left: 4.2vh;
    }
    & .text{
      font: 500 2vw "Lato";
    }
  }
  //конец: Слайд 2 в секции 3
  //Слайд 3 в секции 3
  & .slide3{
    background: url(./img/bgSec3_3.png) no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: white;
    position: relative;
    bottom: 200vh;
    left: 100vw;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    & .title{
      display: block;
      font-family: "Gotham Pro";
      font-size: 3vw;
      color: white;
      margin-left: 7.3vw;
      margin-top: 15vh;
    }
    & .path0{
      &__hyperglycemia{
        position: relative;
        text-align: center;
        font: 500 2.5vw "Lato";
        top: 44vh;
        width: 20vw;
        left: 40.6vw;
      }
    }

    & .path1{
      display: flex;
      position: relative;
      left: 41vw;
      bottom:4vh;
      &__text{
        margin-top: 1vh;
        margin-left: 1vw;
      }
      &__emblem{
        width: 10.75vh !important;
        height: 10.75vh !important;
        font: bold 7vw "Lato";
        text-align: center;
        line-height: 7vw;;
        background: $sec3CircleBg;
      }
    }

    & .path2{
      position: relative;
      left: 33.7vw;
      top: 5.2vh;
      &__number{
        width: 13vw;
        text-align: right;
      }
      &__text{
        width: 16vw;
        text-align: right;
      }
      &__emblem{
        position: relative;
        right: 8.5vw;
        bottom: 1.5vh;
        font: 500 1.5vw "Lato";
        border-radius: 0 !important;
        height: auto !important;
        width: 9vh !important;
      }
    }

    & .path3{
      position: relative;
      left: 52.5vw;
      bottom: 9.4vh;;
      &__number{
        margin: 0 !important;
      }
      &__text{
        width: 16vw;
        text-align: right;
      }
      &__emblem{
        position: relative;
        top: 3.3vh;
        right: 0.3vw;
        font: 500 1.5vw "Lato";
        border-radius: 0 !important;
        height: auto !important;
        width: 11vh !important;
      }
    }

    & .path__insulinResistance{
      font: 500 1.5vw "Lato";
      position: relative;
      bottom: 19vh;
      left: 73vw;
    }

    & .path4{
      position: relative;
      left: 78vw;
      bottom: 35.5vh;;
      &__number{
        margin: 0 !important;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Lipid.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        top: 8.7vh;
        right: 8vw;
      }
    }

    & .path5{
      position: relative;
      left: 78vw;
      bottom: 30vh;;
      &__number{
        margin: 0 !important;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Muscle.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        top: 8.7vh;
        right: 8vw;
      }
    }

    & .path6{
      position: relative;
      left: 78vw;
      bottom: 24.5vh;;
      &__number{
        margin: 0 !important;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Liver.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        top: 8.7vh;
        right: 8vw;
      }
    }

    & .path7{
      position: relative;
      left: 77vw;
      bottom: 88vh;
      &__number{
        margin: 0 !important;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Brain.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        right: 8vw;
        bottom: 8vh;
      }
    }

    & .path8{
      position: relative;
      left: 13vw;
      bottom: 106vh;
      &__number{
        text-align: right;
        width: 13vh;
      }
      &__text{
        width: 17.2vh;
        text-align: right;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Intestines.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        left: 13vw;
        bottom: 9.5vh;
      }
    }

    & .path9{
      position: relative;
      left: 3vw;
      bottom: 113vh;
      &__number{
        text-align: right;
        width: 26vh;
      }
      &__text{
        width: 30.2vh;
        text-align: right;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Bacterium.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        left: 23vw;
        bottom: 9.5vh;
      }
    }

    & .path10{
      position: relative;
      left: 13vw;
      bottom: 114vh;
      &__number{
        text-align: right;
        width: 13vh;
      }
      &__text{
        width: 17.2vh;
        text-align: right;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Stomach.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        left: 13vw;
        bottom: 7vh;
      }
    }

    & .path11{
      position: relative;
      left: 34.5vw;
      bottom: 117vh;
      &__number{
        text-align: right;
        width: 13vh;
      }
      &__text{
        width: 17.2vh;
        text-align: right;
      }
      &__emblem{
        background: $sec3CircleBg url(./img/sec3Kidney.png) no-repeat center;
        background-size: 4.5vw 5.86vh;
        position: relative;
        left: 13vw;
        bottom: 9vh;
      }
    }
    
    & .emblem{
      margin-left: 1vw;
      width: 7.8vh;
      height: 7.8vh;
      border-radius: 50%;
    }
    & .number{
      font: 600 3.6vw "Lato";
      margin-left: 4.2vh;
    }
    & .text{
      font: 500 2vw "Lato";
    }
  }
  //конец: Слайд 3 в секции 3
}
//конец: Секция 3